In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv('Titanic-Preprocessed5.csv')
data.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Embarked,Title,FamilySize
0,0,343,0,2,"Collander, Mr. Erik Gustaf",0,28.0,248740,13.0000,S,Mrs,0
1,1,76,0,3,"Moen, Mr. Sigurd Hansen",0,25.0,348123,7.6500,S,Mrs,0
2,2,641,0,3,"Jensen, Mr. Hans Peder",0,20.0,350050,7.8542,S,Mrs,0
3,3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",1,29.0,349909,21.0750,S,Mrs,4
4,4,672,0,1,"Davidson, Mr. Thornton",0,31.0,F.C. 12750,52.0000,S,Mrs,1

In [69]:
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
#features extraction
x=data.drop(["Survived", "Name", "Ticket","Title", "Embarked"], axis=1)
y=data["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7932960893854749

In [70]:
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dtree=tree.DecisionTreeClassifier(criterion='gini',splitter='random', max_leaf_nodes=10, min_samples_leaf=5, max_depth=5)
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.776536312849162

In [71]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics  # Importing metrics to test accuracy

clf=RandomForestClassifier(n_estimators=10)  #Creating a random forest with 100 decision trees
clf.fit(x_train, y_train)  #Training our model
y_pred=clf.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

Accuracy: 0.8547486033519553